.login-container{
    position:relative;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(#e6e7e1ca,hsla(196, 62%, 38%, 0.3)),
    url("/images/medicines pharma-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/* ---------- Welcome Section ---------- */

.welcome-section{
    position:absolute;
    top:70px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    text-align:center;
    z-index:2;
}

.tag{
    display:inline-block;
    background:lab(68.12% -35.56 53.28);
    color:#660827;
    padding:12px 28px;
    border-radius:40px;
    font-size:20px;
    font-weight:600;
    margin-bottom:18px;
    box-shadow:0 8px 20px rgba(34, 205, 227, 0.2);
}

.welcome-section h1{
    font-size:60px;
    font-weight:800;
    color:lab(56.23% 59.54 64.79 / 0.968);
    margin-bottom:18px;
    text-shadow:2px 2px 8px 
}

.welcome-section h1 span{
    color:rgb(71, 108, 12);
}

.welcome-section p{
    width:70%;
    margin:auto;
    font-size:22px;
    font-weight:600;
    color:hwb(20 22% 16%);
    line-height:1.6;
}

/* ---------- Login Card ---------- */

.login-card{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);

    width:430px;
    background:#ffffff;
    padding:35px;
    border-radius:18px;
    box-shadow:0 12px 35px rgba(0,0,0,.25);
}

.login-card h2{
    text-align:center;
    color:#61b83f;
    margin-bottom:25px;
    font-size:32px;
}

.login-card input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
    outline:none;
    transition:.3s;
    box-sizing:border-box;
}

.login-card input:focus{
    border-color:#0b5ed7;
    box-shadow:0 0 8px rgba(118, 46, 5, 0.3);
}

.login-card button{
    width:100%;
    padding:14px;
    background:#0b5ed7;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.login-card button:hover{
    background:#084298;
    transform:translateY(-2px);
}