.medicines-container{
    min-height:100vh;
    padding:35px 40px;
    background:
linear-gradient(
    rgba(144, 134, 134, 0.1),
    rgba(59, 36, 36, 0.1)
),
url("/images/medicines pharma-bg.jpg");
}

.medicines-container h1{
    text-align:center;
    color:#a1950d;
    font-size:42px;
    margin-bottom:25px;
    font-weight:700;
}

.search-filter{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.search-filter input,
.search-filter select{
    padding:12px 16px;
    border-radius:10px;
    border:2px solid #90caf9;
    background:hsla(0, 0%, 100%, 0.934);
    font-size:16px;
}

.search-filter input{
    width:280px;
}

.search-filter input:focus,
.search-filter select:focus{
    outline:none;
    border-color:#0099f1ce;
}

.medicines-grid{
    display:grid;
    grid-template-columns:repeat(4,250px);
    justify-content:center;
    gap:20px;
}

@media(max-width:1200px){
.medicines-grid{
grid-template-columns:repeat(3,250px);
}
}

@media(max-width:900px){
.medicines-grid{
grid-template-columns:repeat(2,250px);
}
}

@media(max-width:600px){
.medicines-grid{
grid-template-columns:250px;
}
}